.profile-container{
    padding-top: 40px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 100% !important;
    font-family: "Roboto", sans-serif ;
}

.leftComponent{
  padding-top: 80px;
  width: 380px;
  margin-left: 10px;
  margin-right: 120px;
}
.leftComponent-box{
  background: var(--main-color);
  color: white;
  box-shadow: 10px 10px 50px rgba(6, 4, 29, 0.842);
  padding: 20px 80px 20px 20px;
  
  border-radius: 40px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.selectors{
  padding-left: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
  
}

.selectors li{
  margin-bottom: 20px;
  font-weight: 500 ;
  display: flex;
  border-radius: 10px;
  justify-content: center!important;
  transition: all 150ms ease-in;
}

.selectors li:last-child{
  margin-bottom: 0;
}

.selectors li i{
  margin-right: 14px;
}
 .selectors li:hover{
  cursor: pointer;
  background:  var(--main-color-lighter);;

}


/*
Right Component
*/
.rightComponent{
  width: 800px;
}
.rightComponent-box {
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 50px rgba(6, 4, 29, 0.842);
  margin-bottom: 40px;
  height: 500px;
  
  
}

.infos{
  padding-top: 40px;
  padding-left: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.infos li {
  font-weight: 500 !important;
  padding: 10px;
}
.infos li i{
  margin-left: 20px;
}
.pass{
  
  padding-left: 20%;
  font-weight: 500 !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.change-button{
  padding: 0;
border: none;
background: none;
}

/*
my courses
*/
 .box{
  background: var(--main-color);
  color: white;
  margin-top: 20px!important;
  padding: 20px!important;

  flex-direction: column;
  justify-content: center;
  padding: 10px 20px 10px 10px;
  border-radius: 30px;
}
 .box .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  margin: 10px;
}

 .box span{
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  text-align: center;
}



.learn-more{
  background: var(--main-color);
  color: white;
  border: none;
  outline: none;
  margin-top: 8%;
  margin-left: 20%;
  padding: 3px 45px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 1.8rem;
  transition: background-color 150ms ease-in;
}

.clearn-more:hover{
  background: var(--main-color-lighter);
}