.profile-container{
    padding-top: 40px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    height: 100% !important;
    font-family: "Roboto", sans-serif !important;
}

.leftComponent{
  padding-top: 80px;
  width: 380px;
  margin-left: 10px;
  margin-right: 120px;
}
.leftComponent-box{
  background: var(--main-color);
  color: white;
  box-shadow: 10px 10px 50px rgba(6, 4, 29, 0.842);
  padding: 20px 80px 20px 20px;
  
  border-radius: 40px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.selectors{
  padding-left: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
  
}

.selectors li{
  margin-bottom: 20px;
  font-weight: 500 !important;
  display: flex;
  justify-content: center!important;
    
}

.selectors li:last-child{
  margin-bottom: 0;
}

.selectors li i{
  margin-right: 14px;
}



/*
Right Component
*/
.rightComponent{
  width: 800px;
}
.rightComponent-box {
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 50px rgba(6, 4, 29, 0.842);
  margin-bottom: 40px;
  height: 500px;
  
  
}

.infos{
  padding-top: 40px;
  padding-left: 20%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.infos li {
  font-weight: 500 !important;
  padding: 10px;
}
.infos li i{
  margin-left: 20px;
}
.pass{
  
  padding-left: 20%;
  font-weight: 500 !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.change-button{
  padding: 0;
border: none;
background: none;
}