:root{
    --main-color: #db8539;
}

body{
    font-size: 20px !important;
    height: 100vh !important;
    width: 100vw !important;
}

.max-width-container{
    max-width: 1500px;
    margin: 0 auto;
}

.navbar{
    background: var(--main-color) !important;
    height: 60px !important;
}

.navbar-brand{
    color: white !important;
    font-size: 1.35rem;
}

.nav-link{
    color: white !important;
    font-size: 1.1rem;
}

.navbar-nav{
    display: flex !important;
    justify-content: flex-end !important;
    width: 100% !important;
}



footer{
    height: 60px;
    box-sizing: border-box !important;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #333;
}

footer p{
    margin: 0 !important;
}