@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root{
    --main-color: #3E5AA3;
    --main-color-lighter: #5778cc;
    --main-color-lower-alpha: rgba(87, 120, 204, 0.8);
    --red-color: #CA6969;
    --red-color-lighter: #e47373;
}

/* Global Styles */

body{
    font-size: 20px !important;
    height: 100vh !important;
    width: 100vw !important;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden !important;
}

ul{
    list-style: none !important;
}

.max-width-container{
    max-width: 1500px;
    margin: 0 auto;
}

.layout{
    min-height: calc(100vh - 120px);
    font-family: 'Nunito', sans-serif !important;
}

/* End of Global */

/* Footer Styles */

footer{
    height: 60px;
    box-sizing: border-box !important;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #333;
}

footer p{
    margin: 0 !important;
}

@media(max-width: 1060px){
    footer p{
        font-size: 1rem;
    }
}

@media(max-width: 500px){
    footer p{
        font-size: .85rem;
    }
}

/* End of Footer */