form h1{
    color: #333 !important;
}

.my-form{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 80px;
}

.my-form form{
    width: 100% !important;
}


.form-error{
    width: 100% !important;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}